devices:
  - name: R1
    host: 192.168.1.1
    device_type: mikrotik_routeros
    username: admin
    password: yourpassword
    port: 22

  - name: R2
    host: 192.168.1.2
    device_type: mikrotik_routeros
    username: admin
    password: yourpassword
    port: 22